<div class="col-xs-6 col-md-3">
    <input type="text" ng-model="searchBox" placeholder="szukaj po tytule" ng-pattern="/^[A-Za-z\d\s]+$/" required="true" ng-minlength=3 class="form-control shadowBox">
</div>
<div class="col-xs-3 col-md-offset-7 col-md-2">
    <a href="#/addPostView"><button class="btn btn-primary shadowBox">Dodaj posta  <span class="glyphicon glyphicon-pencil"></span></button></a>
</div>
</br>
</br>
</br>
<div>
    <table ng-repeat="post in posts| filter:searchBox | startFrom:(currentPage - 1) * pageSize | limitTo: pageSize " class="table table-bordered shadowBox postBox">
        <tr>
            <th><span>Tytuł: </span><a href="#/postView/{{ post.id}}">{{ post.title}} <span class="glyphicon glyphicon-eye-open"></span></a></br>
                <span class="glyphicon glyphicon-pencil"></span><span class="postText"> {{ post.body | limitTo:letterLimit }}...</span>
            </th>
        </tr>
    </table>
</div>
<div class="text-center"><ul uib-pagination total-items="posts.length" ng-model="currentPage" items-per-page="pageSize" previous-text="&laquo;" next-text="&raquo;"></ul></div>